@use 'variables' as vars;

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  cursor: pointer;

  .projects-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
}

.drawer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .bannerImage {
        width: 45%;
        border-radius: 8px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        a {
            font-size: .75rem;
        }
    }
}

.drawer {
    display: flex;
    background-color: vars.$color-bg-links;
    color: vars.$color-white;
    align-items: center;
    height: 100%;
    padding: 2rem;
    font-size: 1rem;
    gap: 2rem;
}
